Quotations

In [6]:
print ("""'No one can undo Pakistan', Said Quaid
'Silence is sometimes the best answer', Said Dalai Lama
'Love is the absence of judgment', Said Dalai Lama
'My religion is very simple',Said Dalai lama""")

'No one can undo Pakistan', Said Quaid
'Silence is sometimes the best answer', Said Dalai Lama
'Love is the absence of judgment', Said Dalai Lama
'My religion is very simple',Said Dalai lama

In [7]:
false = -2

In [8]:
sum = false+2

In [9]:
var = "My name is asif"

In [10]:
type(var)

str

In [11]:
integar = 1000

In [12]:
type(var)

str

In [13]:
floating = 22.5

In [14]:
print(type(floating))

<class 'float'>

In [15]:
22 + 3

25

In [16]:
num = 22+3

In [17]:
num

25

In [18]:
new_num = num + 5

In [19]:
new_num

30

In [20]:
num = num + 5
num

30

In [21]:
num1 = 200
num2 = 300
num3 = 500

In [23]:
num4 = num1 + num2 + num3
num4

1000

In [24]:
1+2*5

11

In [25]:
10/3

3.3333333333333335

In [26]:
10%3

1

In [27]:
3%2

1

In [28]:
5247%5

2

In [29]:
60%7

4

In [1]:
1+5*9/7

7.428571428571429

In [2]:
5+5*2/1

15.0

In [1]:
5 *= 5

SyntaxError: can't assign to literal (<ipython-input-1-0f2ef0f4ea4f>, line 1)

In [2]:
x =*5

SyntaxError: can't use starred expression here (<ipython-input-2-3bfff2546e7f>, line 4)

In [3]:
total_cost = 1 + 3 * 4

In [4]:
print (total_cost)

13

In [7]:
1 age = 12
2 age -= 2

SyntaxError: invalid syntax (<ipython-input-7-bf54f42533ee>, line 1)

In [8]:
age = 12

In [9]:
age += 50

In [10]:
print (age)

62

In [11]:
age = 15

In [12]:
age -=3

In [13]:
print (age)

12

In [14]:
age = 60

In [15]:
age /= 5

In [16]:
print(age)

12.0

In [17]:
age = 50

In [18]:
age *= 7

In [19]:
print (age)

350

In [20]:
print ("the sum of 2 plus 2 is" + "4")

the sum of 2 plus 2 is4