In [2]:
sub1=int(input("Enter marks of the first subject: "))
sub2=int(input("Enter marks of the second subject: "))
sub3=int(input("Enter marks of the third subject: "))
sub4=int(input("Enter marks of the fourth subject: "))
sub5=int(input("Enter marks of the fifth subject: "))
sum=(sub1+sub2+sub3+sub4+sub4)
print(sum)
# For calculate percentage
per = sum*100/500
print (per)
# condition to be tasted
marks = sum/5
grade = ""
if marks <= 100 and marks >= 80:
    grade += "A1"
elif marks <=79 and marks >= 70:
    grade += "A"
elif marks <=69 and marks >=60:
    grade += "B"
elif marks <=59 and marks >=50:
    grade += "C"
else:
    grade += "Fail"
print ("This is the grade of your child:",grade)

Enter marks of the first subject: 75
Enter marks of the second subject: 80
Enter marks of the third subject: 90
Enter marks of the fourth subject: 66
Enter marks of the fifth subject: 74
377
75.4
This is the grade of your child: A

In [3]:
type(per)

float

# if statments nested

In [4]:
wearables = "glasses"

In [5]:
girl = "female"

In [8]:
if girl == "female" and wearables == "glasses":
    print ("its sal")

its sal

In [9]:
# this is a comments

In [10]:
'''
She's a good student.
Me Say, "Struggle is compulsory"
'''

'\nShe\'s a good student.\nMe Say, "Struggle is compulsory"\n'

# Data Type "List"

In [3]:
name = ['Tapal',1,'Danedar',110.50]

In [4]:
ind = [0, 1, 2, 3, 4]

In [5]:
ind

[0, 1, 2, 3, 4]

In [6]:
# start = 0
# end = N-1
# length of list - 1 <--- last index

In [7]:
length = len(name)

In [8]:
length - 1

3

In [9]:
# indexing

In [10]:
# list name [index_no]
name[2]

'Danedar'

In [11]:
name[3]

110.5

In [13]:
names = ["shahtaj","nazia",1,"Alishan", "Salima","Noor","Salman"]

In [14]:
names

['shahtaj', 'nazia', 1, 'Alishan', 'Salima', 'Noor', 'Salman']

In [15]:
name[2]

1

In [16]:
print("Welcome to AI Class " + str(names[2]))

Welcome to AI Class 1

In [18]:
# Changing of elements
names[2] = 'malik'

In [19]:
names[2]

'malik'

In [21]:
to_do = ['wakeup', 'brush', 'clothchange', 'breakfast', 'college']

In [22]:
to_do

['wakeup', 'brush', 'clothchange', 'breakfast', 'college']

In [23]:
to_do[1] = 'done'

In [25]:
to_do

['wakeup', 'done', 'clothchange', 'breakfast', 'college']

In [26]:
excuses = ['TK', "LR", "TJ"]

In [27]:
excuses.index("TK")

0

In [28]:
excuses.append("KJ")

In [29]:
excuses

['TK', 'LR', 'TJ', 'KJ']

In [32]:
names = names + ["Shahzeb", "Nasrullah"]

In [33]:
names

['shahtaj',
 'nazia',
 'malik',
 'Alishan',
 'Salima',
 'Noor',
 'Salman',
 'ShahzebNasrullah',
 'Shahzeb',
 'Nasrullah']

In [34]:
additional_std = ["Zeeshan"]

In [35]:
names = names + additional_std

In [36]:
names

['shahtaj',
 'nazia',
 'malik',
 'Alishan',
 'Salima',
 'Noor',
 'Salman',
 'ShahzebNasrullah',
 'Shahzeb',
 'Nasrullah',
 'Zeeshan']

In [47]:
names[0] = names[len(names)-1]

In [48]:
names[(len(names)-1)] = 'shahtaj'

In [49]:
names = ['Shahtaj',
 'Nazia',
 'Malik',
 'Alishan',
 'Salima',
 'Noor',
 'Salman',
 'Shahzeb',
 'Nasurallah',
 'Zeeshan']

In [50]:
names.insert(0, "Asher")

In [52]:
print(names)

['Asher', 'Shahtaj', 'Nazia', 'Malik', 'Alishan', 'Salima', 'Noor', 'Salman', 'Shahzeb', 'Nasurallah', 'Zeeshan']

In [53]:
names[2:6] #start, N+1 <-- N== Len of list

['Nazia', 'Malik', 'Alishan', 'Salima']

In [54]:
names[0:11]

['Asher',
 'Shahtaj',
 'Nazia',
 'Malik',
 'Alishan',
 'Salima',
 'Noor',
 'Salman',
 'Shahzeb',
 'Nasurallah',
 'Zeeshan']

In [55]:
names[0:]

['Asher',
 'Shahtaj',
 'Nazia',
 'Malik',
 'Alishan',
 'Salima',
 'Noor',
 'Salman',
 'Shahzeb',
 'Nasurallah',
 'Zeeshan']

In [56]:
names[:]

['Asher',
 'Shahtaj',
 'Nazia',
 'Malik',
 'Alishan',
 'Salima',
 'Noor',
 'Salman',
 'Shahzeb',
 'Nasurallah',
 'Zeeshan']

In [57]:
names[:len(names)-1]

['Asher',
 'Shahtaj',
 'Nazia',
 'Malik',
 'Alishan',
 'Salima',
 'Noor',
 'Salman',
 'Shahzeb',
 'Nasurallah']

In [58]:
# slicing

# start index = 0
# end index = N + 1

names[2:6]

['Nazia', 'Malik', 'Alishan', 'Salima']

In [59]:
# Deletion

In [60]:
# via index no
del names[2]   # del list_name[index_no]

In [61]:
names[2]

'Malik'

In [62]:
# via value
names.remove("Malik")

In [63]:
names

['Asher',
 'Shahtaj',
 'Alishan',
 'Salima',
 'Noor',
 'Salman',
 'Shahzeb',
 'Nasurallah',
 'Zeeshan']

In [80]:
to_do = [1,2,3,4]

In [81]:
to_do

[1, 2, 3, 4]

In [88]:
tasks_done =[]

In [89]:
tasks_done.append(to_do[0])

In [90]:
tasks_done

[1]

In [91]:
to_do.remove(1)

In [92]:
to_do

[3]

In [73]:
tasks_done

[1]

In [85]:
tasks_done.append(to_do.pop(1))

In [86]:
tasks_done

[1, 4, 3, 4, 2]

In [93]:
to_do

[3]